### Connect to a MySql Database with Python
* To Connect Mysql Database with Python used MySql Connector

In [1]:
#pip install mysql-connector-python

In [2]:
import mysql.connector

In [3]:
import warnings
warnings.filterwarnings("ignore")

### To Connect to MySql in Python
* Use the cursor() method
* Create a cursor object using the connection object returned by the connect method to execute MySql queries from Python.

In [4]:
db=mysql.connector.connect(host='localhost',password='12345678',user='root',database="corona")
mycursor= db.cursor()

In [5]:
print(db)

<mysql.connector.connection.MySQLConnection object at 0x00000272CFE22F40>

In [6]:
if db.is_connected():
    print("connection establised..")

connection establised..

##### Checking the available Databases in MySql

In [7]:
mycursor.execute("SHOW DATABASES")

In [8]:
for i in mycursor:
    print(i)

('corona',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

##### Checking the tables availble in  in the corona database

In [9]:
mycursor.execute("SHOW TABLES")

In [10]:
for i in mycursor:
    print(i)

('afghanistan',)
('africa',)
('albania',)
('algeria',)
('andorra',)
('angola',)
('tbl_continent',)
('tbl_corona',)
('tbl_location',)

In [11]:
mycursor.execute("select * from Afghanistan limit 10")

In [12]:
for i in mycursor:
    print(i)

('AFG', 'Asia', 'Afghanistan', 5.0, 5.0, 0.0, 0.0, 0.0, 0.0, 0.125, 0.125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 40099500.0, 54422.0, 2581.0, 1337.0, 1803990.0, 597029.0, '9.59', 0.5, 64.83, 0.511, 1, 'Afg')
('AFG', 'Asia', 'Afghanistan', 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 40099500.0, 54422.0, 2581.0, 1337.0, 1803990.0, 597029.0, '9.59', 0.5, 64.83, 0.511, 1, 'Afg')
('AFG', 'Asia', 'Afghanistan', 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 40099500.0, 54422.0, 2581.0, 1337.0, 1803990.0, 597029.0, '9.59', 0.5, 64.83, 0.511, 1, 'Afg')
('AFG', 'Asia', 'Afghanistan', 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 40099500.0, 54422.0, 2581.0, 1337.0, 1803990.0, 597029.0, '9.59', 0.5, 64.83, 0.511, 1, 'Afg')
('AFG', 'Asia', 'Afghanistan', 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 40099500.0, 54422.0, 2581.0, 1337.0, 1803990.0, 597029.0, '9.59', 0.5, 64.83, 0.511, 1, 'Afg')
('AFG', 'Asia', 'Afghanistan', 5.0, 0.0, 0.714, 0.0, 0.0, 0.0, 0.125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 40099500.0, 54422.0, 2581.0, 1337.0, 1803990.0, 597029.0, '9.59', 0.5, 64.83, 0.511, 1, 'Afg')
('AFG', 'Asia', 'Afghanistan', 5.0, 0.0, 0.714, 0.0, 0.0, 0.0, 0.125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 27.78, 40099500.0, 54422.0, 2581.0, 1337.0, 1803990.0, 597029.0, '9.59', 0.5, 64.83, 0.511, 1, 'Afg')
('AFG', 'Asia', 'Afghanistan', 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 27.78, 40099500.0, 54422.0, 2581.0, 1337.0, 1803990.0, 597029.0, '9.59', 0.5, 64.83, 0.511, 1, 'Afg')
('AFG', 'Asia', 'Afghanistan', 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 27.78, 40099500.0, 54422.0, 2581.0, 1337.0, 1803990.0, 597029.0, '9.59', 0.5, 64.83, 0.511, 1, 'Afg')
('AFG', 'Asia', 'Afghanistan', 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.125, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 27.78, 40099500.0, 54422.0, 2581.0, 1337.0, 1803990.0, 597029.0, '9.59', 0.5, 64.83, 0.511, 1, 'Afg')

In [13]:
mycursor.execute("select * from Africa limit 10")

In [14]:
for i in mycursor:
    print(i)

('OWID_AFR', 'Africa', 'Africa', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1392390000.0, 0.0, 0.0, 0.0, 0.0, 0.0, '0.00000000000000000e+00', 0.0, 0.0, 0.0, 2, 'Afr')
('OWID_AFR', 'Africa', 'Africa', 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1392390000.0, 0.0, 0.0, 0.0, 0.0, 0.0, '0.00000000000000000e+00', 0.0, 0.0, 0.0, 2, 'Afr')
('OWID_AFR', 'Africa', 'Africa', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1392390000.0, 0.0, 0.0, 0.0, 0.0, 0.0, '0.00000000000000000e+00', 0.0, 0.0, 0.0, 2, 'Afr')
('OWID_AFR', 'Africa', 'Africa', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1392390000.0, 0.0, 0.0, 0.0, 0.0, 0.0, '0.00000000000000000e+00', 0.0, 0.0, 0.0, 2, 'Afr')
('OWID_AFR', 'Africa', 'Africa', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1392390000.0, 0.0, 0.0, 0.0, 0.0, 0.0, '0.00000000000000000e+00', 0.0, 0.0, 0.0, 2, 'Afr')
('OWID_AFR', 'Africa', 'Africa', 1.0, 0.0, 0.143, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1392390000.0, 0.0, 0.0, 0.0, 0.0, 0.0, '0.00000000000000000e+00', 0.0, 0.0, 0.0, 2, 'Afr')
('OWID_AFR', 'Africa', 'Africa', 1.0, 0.0, 0.143, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1392390000.0, 0.0, 0.0, 0.0, 0.0, 0.0, '0.00000000000000000e+00', 0.0, 0.0, 0.0, 2, 'Afr')
('OWID_AFR', 'Africa', 'Africa', 1.0, 0.0, 0.143, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1392390000.0, 0.0, 0.0, 0.0, 0.0, 0.0, '0.00000000000000000e+00', 0.0, 0.0, 0.0, 2, 'Afr')
('OWID_AFR', 'Africa', 'Africa', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1392390000.0, 0.0, 0.0, 0.0, 0.0, 0.0, '0.00000000000000000e+00', 0.0, 0.0, 0.0, 2, 'Afr')
('OWID_AFR', 'Africa', 'Africa', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1392390000.0, 0.0, 0.0, 0.0, 0.0, 0.0, '0.00000000000000000e+00', 0.0, 0.0, 0.0, 2, 'Afr')

In [15]:
mycursor.execute("select * from Albania limit 10")

In [16]:
for i in mycursor:
    print(i)

('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 13.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 17.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 18.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 26.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 29.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 31.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 36.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 42.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 50.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')

In [17]:
mycursor.execute("select * from Albania limit 10")

In [18]:
for i in mycursor:
    print(i)

('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 13.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 17.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 18.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 26.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 29.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 31.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 36.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 42.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')
('ALB', 'Europe', 'Albania', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 50.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 8.33, 2854710.0, 104871.0, 13188.0, 8643.0, 11803400.0, 304195.0, '10.08', 2.89, 78.57, 0.795, 3, 'Alb')

In [19]:
mycursor.execute("select * from Algeria limit 10")

In [20]:
for i in mycursor:
    print(i)

('DZA', 'Africa', 'Algeria', 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.023, 0.023, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 44178000.0, 17348.0, 6211.0, 3857.0, 13913800.0, 278364.0, '6.73000000000000043e+00', 1.9, 76.88, 0.748, 2, 'Alg')
('DZA', 'Africa', 'Algeria', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.023, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 44178000.0, 17348.0, 6211.0, 3857.0, 13913800.0, 278364.0, '6.73000000000000043e+00', 1.9, 76.88, 0.748, 2, 'Alg')
('DZA', 'Africa', 'Algeria', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.023, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 44178000.0, 17348.0, 6211.0, 3857.0, 13913800.0, 278364.0, '6.73000000000000043e+00', 1.9, 76.88, 0.748, 2, 'Alg')
('DZA', 'Africa', 'Algeria', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.023, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 44178000.0, 17348.0, 6211.0, 3857.0, 13913800.0, 278364.0, '6.73000000000000043e+00', 1.9, 76.88, 0.748, 2, 'Alg')
('DZA', 'Africa', 'Algeria', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.023, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 44178000.0, 17348.0, 6211.0, 3857.0, 13913800.0, 278364.0, '6.73000000000000043e+00', 1.9, 76.88, 0.748, 2, 'Alg')
('DZA', 'Africa', 'Algeria', 1.0, 0.0, 0.143, 0.0, 0.0, 0.0, 0.023, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 44178000.0, 17348.0, 6211.0, 3857.0, 13913800.0, 278364.0, '6.73000000000000043e+00', 1.9, 76.88, 0.748, 2, 'Alg')
('DZA', 'Africa', 'Algeria', 3.0, 2.0, 0.429, 0.0, 0.0, 0.0, 0.068, 0.045, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 44178000.0, 17348.0, 6211.0, 3857.0, 13913800.0, 278364.0, '6.73000000000000043e+00', 1.9, 76.88, 0.748, 2, 'Alg')
('DZA', 'Africa', 'Algeria', 5.0, 2.0, 0.571, 0.0, 0.0, 0.0, 0.113, 0.045, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 44178000.0, 17348.0, 6211.0, 3857.0, 13913800.0, 278364.0, '6.73000000000000043e+00', 1.9, 76.88, 0.748, 2, 'Alg')
('DZA', 'Africa', 'Algeria', 12.0, 7.0, 1571.0, 0.0, 0.0, 0.0, 0.272, 0.158, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 44178000.0, 17348.0, 6211.0, 3857.0, 13913800.0, 278364.0, '6.73000000000000043e+00', 1.9, 76.88, 0.748, 2, 'Alg')
('DZA', 'Africa', 'Algeria', 12.0, 0.0, 1571.0, 0.0, 0.0, 0.0, 0.272, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.56, 44178000.0, 17348.0, 6211.0, 3857.0, 13913800.0, 278364.0, '6.73000000000000043e+00', 1.9, 76.88, 0.748, 2, 'Alg')

In [21]:
mycursor.execute("select * from Andorra limit 10")

In [22]:
for i in mycursor:
    print(i)

('AND', 'Europe', 'Andorra', 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 12653.0, 12653.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 79034.0, 163755.0, 0.0, 0.0, 0.0, 109135.0, '7.96999999999999975e+00', 0.0, 83.73, 0.868, 3, 'And')
('AND', 'Europe', 'Andorra', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12653.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 79034.0, 163755.0, 0.0, 0.0, 0.0, 109135.0, '7.96999999999999975e+00', 0.0, 83.73, 0.868, 3, 'And')
('AND', 'Europe', 'Andorra', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12653.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 79034.0, 163755.0, 0.0, 0.0, 0.0, 109135.0, '7.96999999999999975e+00', 0.0, 83.73, 0.868, 3, 'And')
('AND', 'Europe', 'Andorra', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12653.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 79034.0, 163755.0, 0.0, 0.0, 0.0, 109135.0, '7.96999999999999975e+00', 0.0, 83.73, 0.868, 3, 'And')
('AND', 'Europe', 'Andorra', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12653.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 79034.0, 163755.0, 0.0, 0.0, 0.0, 109135.0, '7.96999999999999975e+00', 0.0, 83.73, 0.868, 3, 'And')
('AND', 'Europe', 'Andorra', 1.0, 0.0, 0.143, 0.0, 0.0, 0.0, 12653.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 79034.0, 163755.0, 0.0, 0.0, 0.0, 109135.0, '7.96999999999999975e+00', 0.0, 83.73, 0.868, 3, 'And')
('AND', 'Europe', 'Andorra', 1.0, 0.0, 0.143, 0.0, 0.0, 0.0, 12653.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 79034.0, 163755.0, 0.0, 0.0, 0.0, 109135.0, '7.96999999999999975e+00', 0.0, 83.73, 0.868, 3, 'And')
('AND', 'Europe', 'Andorra', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12653.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 79034.0, 163755.0, 0.0, 0.0, 0.0, 109135.0, '7.96999999999999975e+00', 0.0, 83.73, 0.868, 3, 'And')
('AND', 'Europe', 'Andorra', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12653.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 79034.0, 163755.0, 0.0, 0.0, 0.0, 109135.0, '7.96999999999999975e+00', 0.0, 83.73, 0.868, 3, 'And')
('AND', 'Europe', 'Andorra', 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12653.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 3.7, 79034.0, 163755.0, 0.0, 0.0, 0.0, 109135.0, '7.96999999999999975e+00', 0.0, 83.73, 0.868, 3, 'And')

In [23]:
mycursor.execute("select * from Angola limit 10")

In [24]:
for i in mycursor:
    print(i)

('AGO', 'Africa', 'Angola', 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.029, 0.029, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 11.11, 34503800.0, 23.89, 2405.0, 1362.0, 5819500.0, 276045.0, '3.93999999999999995e+00', 0.0, 61.15, 0.581, 2, 'Ang')
('AGO', 'Africa', 'Angola', 2.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.058, 0.029, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 11.11, 34503800.0, 23.89, 2405.0, 1362.0, 5819500.0, 276045.0, '3.93999999999999995e+00', 0.0, 61.15, 0.581, 2, 'Ang')
('AGO', 'Africa', 'Angola', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.058, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 11.11, 34503800.0, 23.89, 2405.0, 1362.0, 5819500.0, 276045.0, '3.93999999999999995e+00', 0.0, 61.15, 0.581, 2, 'Ang')
('AGO', 'Africa', 'Angola', 3.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.087, 0.029, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 11.11, 34503800.0, 23.89, 2405.0, 1362.0, 5819500.0, 276045.0, '3.93999999999999995e+00', 0.0, 61.15, 0.581, 2, 'Ang')
('AGO', 'Africa', 'Angola', 3.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.087, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 33.33, 34503800.0, 23.89, 2405.0, 1362.0, 5819500.0, 276045.0, '3.93999999999999995e+00', 0.0, 61.15, 0.581, 2, 'Ang')
('AGO', 'Africa', 'Angola', 3.0, 0.0, 0.429, 0.0, 0.0, 0.0, 0.087, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 33.33, 34503800.0, 23.89, 2405.0, 1362.0, 5819500.0, 276045.0, '3.93999999999999995e+00', 0.0, 61.15, 0.581, 2, 'Ang')
('AGO', 'Africa', 'Angola', 4.0, 1.0, 0.571, 0.0, 0.0, 0.0, 0.116, 0.029, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 33.33, 34503800.0, 23.89, 2405.0, 1362.0, 5819500.0, 276045.0, '3.93999999999999995e+00', 0.0, 61.15, 0.581, 2, 'Ang')
('AGO', 'Africa', 'Angola', 4.0, 0.0, 0.429, 0.0, 0.0, 0.0, 0.116, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 90.74, 34503800.0, 23.89, 2405.0, 1362.0, 5819500.0, 276045.0, '3.93999999999999995e+00', 0.0, 61.15, 0.581, 2, 'Ang')
('AGO', 'Africa', 'Angola', 5.0, 1.0, 0.429, 0.0, 0.0, 0.0, 0.145, 0.029, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 90.74, 34503800.0, 23.89, 2405.0, 1362.0, 5819500.0, 276045.0, '3.93999999999999995e+00', 0.0, 61.15, 0.581, 2, 'Ang')
('AGO', 'Africa', 'Angola', 7.0, 2.0, 0.714, 2.0, 2.0, 0.0, 0.203, 0.058, 0.058, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 90.74, 34503800.0, 23.89, 2405.0, 1362.0, 5819500.0, 276045.0, '3.93999999999999995e+00', 0.0, 61.15, 0.581, 2, 'Ang')

#### Adding the Continent_ID column in each table

In [25]:
mycursor.execute("ALTER TABLE Africa ADD Continent_ID INT NOT NULL");

In [26]:
mycursor.execute("ALTER TABLE Albania ADD Continent_ID INT NOT NULL");

In [27]:
mycursor.execute("ALTER TABLE Algeria ADD Continent_ID INT NOT NULL");

In [28]:
mycursor.execute("ALTER TABLE Andorra ADD Continent_ID INT NOT NULL");

In [29]:
mycursor.execute("ALTER TABLE Angola ADD Continent_ID INT NOT NULL");

In [30]:
mycursor.execute("ALTER TABLE Afghanistan ADD Continent_ID INT NOT NULL");

In [31]:
mycursor.execute("ALTER TABLE Afghanistan ADD Location_ID varchar(20) NOT NULL");

#### Adding Location_ID column in each table

In [32]:
mycursor.execute("ALTER TABLE Africa ADD Location_ID varchar(20) NOT NULL");

In [33]:
mycursor.execute("ALTER TABLE Albania ADD Location_ID varchar(20) NOT NULL");

In [34]:
mycursor.execute("ALTER TABLE Algeria ADD Location_ID varchar(20) NOT NULL");

In [35]:
mycursor.execute("ALTER TABLE Andorra ADD Location_ID varchar(20) NOT NULL");

In [36]:
mycursor.execute("ALTER TABLE Angola ADD Location_ID varchar(20) NOT NULL");

In [37]:
mycursor.execute("Create table tbl_continent(Continent_ID int,Continent_Name varchar(255))")

In [38]:
#Importing pandas Library
import pandas as pd

### Task Import Data from different tables and create a table tbl_Continent.
### The table has two Columns
* Continent_ID
* Continent_Name

#### Reading data using pandas from MySql

In [39]:
d=pd.read_sql_query('''select distinct Continent_ID,continent from afghanistan''',db)

In [40]:
e=pd.read_sql_query('''select distinct Continent_ID,continent from africa''',db)

In [41]:
f=pd.read_sql_query('''select distinct Continent_ID,continent from albania''',db)

In [42]:
g=[d,e,f]

In [43]:
final=pd.concat(g)

In [44]:
print(final)

   Continent_ID continent
0             1      Asia
0             2    Africa
0             3    Europe

In [45]:
#Appending the output data in dataframe
final=pd.DataFrame(final)

In [46]:
#Installing required packages for connection

In [47]:
#pip install mysql-client

In [48]:
#pip install pymysql

In [49]:
from sqlalchemy import create_engine

In [50]:
import pymysql

In [51]:
#Appending the data in tbl_continent

In [52]:
my_conn=create_engine("mysql+pymysql://root:12345678@localhost/corona")

df = pd.DataFrame(data=final)
df.to_sql(con=my_conn,name='tbl_continent',if_exists='append',index=False)

3

Task Import Data from different tables and create a table tbl_location.
### The table has two Columns
* Location_ID
* Continent_ID
* iso_code
* location

In [53]:
var1=pd.read_sql_query('''select distinct Location_ID,Continent_ID,iso_code,location from afghanistan''',db)

In [54]:
var2=pd.read_sql_query('''select distinct Location_ID,Continent_ID,iso_code,location from africa''',db)

In [55]:
var3=pd.read_sql_query('''select distinct Location_ID,Continent_ID,iso_code,location from albania''',db)

In [56]:
var4=pd.read_sql_query('''select distinct Location_ID,Continent_ID,iso_code,location from algeria''',db)

In [57]:
var5=pd.read_sql_query('''select distinct Location_ID,Continent_ID,iso_code,location from andorra''',db)

In [58]:
var5=pd.read_sql_query('''select distinct Location_ID,Continent_ID,iso_code,location from angola''',db)

In [59]:
var6=[var1,var2,var3,var4,var5]

In [60]:
var7=pd.concat(var6)

In [61]:
print(var7)

  Location_ID  Continent_ID  iso_code     location
0         Afg             1       AFG  Afghanistan
0         Afr             2  OWID_AFR       Africa
0         Alb             3       ALB      Albania
0         Alg             2       DZA      Algeria
0         Ang             2       AGO       Angola

In [62]:
final=pd.DataFrame(var7)

In [63]:
my_conn=create_engine("mysql+pymysql://root:12345678@localhost/corona")

df = pd.DataFrame(data=var7)
df.to_sql(con=my_conn,name='tbl_location',if_exists='append',index=False)

5

#### Task Import Data from different tables and create a table tbl_Corona.
* The table have the locationID & rest of the data

In [64]:
afg=pd.read_sql_query('''select b.Location_ID,a.total_cases, a.new_cases,a.new_cases_smoothed,a.total_deaths,a.new_deaths,a.new_deaths_smoothed, 
a.total_cases_per_million,a.new_cases_per_million,a.total_deaths_per_million,a.reproduction_rate,a.hosp_patients,a.total_tests, 
a.positive_rate,a.tests_units,a.total_vaccinations,a.people_vaccinated,a.people_fully_vaccinated,a.total_boosters,a.new_vaccinations, 
a.stringency_index,a.population,a.population_density,a.aged_65_older,a.aged_70_older,a.gdp_per_capita,a.cardiovasc_death_rate,
a.diabetes_prevalence,a.hospital_beds_per_thousand,a.life_expectancy,a.human_development_index
from afghanistan as a inner
join
tbl_Location as b on
a.Location = b.Location;''',db)
print(afg)

     Location_ID  total_cases  new_cases  new_cases_smoothed  total_deaths  \
0            Afg          5.0        5.0                 0.0           0.0
1            Afg          5.0        5.0                 0.0           0.0
2            Afg          5.0        0.0                 0.0           0.0
3            Afg          5.0        0.0                 0.0           0.0
4            Afg          5.0        0.0                 0.0           0.0
...          ...          ...        ...                 ...           ...
1867         Afg     196751.0      347.0            248429.0        7792.0
1868         Afg     196870.0      119.0            224571.0        7792.0
1869         Afg     196870.0      119.0            224571.0        7792.0
1870         Afg     196992.0      122.0            217286.0        7794.0
1871         Afg     196992.0      122.0            217286.0        7794.0

      new_deaths  new_deaths_smoothed  total_cases_per_million  \
0            0.0                0.000                    0.125
1            0.0                0.000                    0.125
2            0.0                0.000                    0.125
3            0.0                0.000                    0.125
4            0.0                0.000                    0.125
...          ...                  ...                      ...
1867         1.0                1.000              4906580.000
1868         0.0                0.857              4909540.000
1869         0.0                0.857              4909540.000
1870         2.0             1143.000              4912580.000
1871         2.0             1143.000              4912580.000

      new_cases_per_million  total_deaths_per_million  ...  population  \
0                     0.125                       0.0  ...  40099500.0
1                     0.125                       0.0  ...  40099500.0
2                     0.000                       0.0  ...  40099500.0
3                     0.000                       0.0  ...  40099500.0
4                     0.000                       0.0  ...  40099500.0
...                     ...                       ...  ...         ...
1867               8653.000                  194317.0  ...  40099500.0
1868               2968.000                  194317.0  ...  40099500.0
1869               2968.000                  194317.0  ...  40099500.0
1870               3042.000                  194367.0  ...  40099500.0
1871               3042.000                  194367.0  ...  40099500.0

      population_density  aged_65_older  aged_70_older  gdp_per_capita  \
0                54422.0         2581.0         1337.0       1803990.0
1                54422.0         2581.0         1337.0       1803990.0
2                54422.0         2581.0         1337.0       1803990.0
3                54422.0         2581.0         1337.0       1803990.0
4                54422.0         2581.0         1337.0       1803990.0
...                  ...            ...            ...             ...
1867             54422.0         2581.0         1337.0       1803990.0
1868             54422.0         2581.0         1337.0       1803990.0
1869             54422.0         2581.0         1337.0       1803990.0
1870             54422.0         2581.0         1337.0       1803990.0
1871             54422.0         2581.0         1337.0       1803990.0

      cardiovasc_death_rate  diabetes_prevalence  hospital_beds_per_thousand  \
0                  597029.0                 9.59                         0.5
1                  597029.0                 9.59                         0.5
2                  597029.0                 9.59                         0.5
3                  597029.0                 9.59                         0.5
4                  597029.0                 9.59                         0.5
...                     ...                  ...                         ...
1867               597029.0                 9.59                         0.5
1868               597029.0                 9.59                         0.5
1869               597029.0                 9.59                         0.5
1870               597029.0                 9.59                         0.5
1871               597029.0                 9.59                         0.5

      life_expectancy  human_development_index
0               64.83                    0.511
1               64.83                    0.511
2               64.83                    0.511
3               64.83                    0.511
4               64.83                    0.511
...               ...                      ...
1867            64.83                    0.511
1868            64.83                    0.511
1869            64.83                    0.511
1870            64.83                    0.511
1871            64.83                    0.511

[1872 rows x 31 columns]

In [65]:
afr=pd.read_sql_query('''select b.Location_ID,a.total_cases, a.new_cases,a.new_cases_smoothed,a.total_deaths,a.new_deaths,a.new_deaths_smoothed, 
a.total_cases_per_million,a.new_cases_per_million,a.total_deaths_per_million,a.reproduction_rate,a.hosp_patients,a.total_tests, 
a.positive_rate,a.tests_units,a.total_vaccinations,a.people_vaccinated,a.people_fully_vaccinated,a.total_boosters,a.new_vaccinations, 
a.stringency_index,a.population,a.population_density,a.aged_65_older,a.aged_70_older,a.gdp_per_capita,a.cardiovasc_death_rate,
a.diabetes_prevalence,a.hospital_beds_per_thousand,a.life_expectancy,a.human_development_index
from africa as a inner
join
tbl_Location as b on
a.Location = b.Location;''',db)
print(afg)

     Location_ID  total_cases  new_cases  new_cases_smoothed  total_deaths  \
0            Afg          5.0        5.0                 0.0           0.0
1            Afg          5.0        5.0                 0.0           0.0
2            Afg          5.0        0.0                 0.0           0.0
3            Afg          5.0        0.0                 0.0           0.0
4            Afg          5.0        0.0                 0.0           0.0
...          ...          ...        ...                 ...           ...
1867         Afg     196751.0      347.0            248429.0        7792.0
1868         Afg     196870.0      119.0            224571.0        7792.0
1869         Afg     196870.0      119.0            224571.0        7792.0
1870         Afg     196992.0      122.0            217286.0        7794.0
1871         Afg     196992.0      122.0            217286.0        7794.0

      new_deaths  new_deaths_smoothed  total_cases_per_million  \
0            0.0                0.000                    0.125
1            0.0                0.000                    0.125
2            0.0                0.000                    0.125
3            0.0                0.000                    0.125
4            0.0                0.000                    0.125
...          ...                  ...                      ...
1867         1.0                1.000              4906580.000
1868         0.0                0.857              4909540.000
1869         0.0                0.857              4909540.000
1870         2.0             1143.000              4912580.000
1871         2.0             1143.000              4912580.000

      new_cases_per_million  total_deaths_per_million  ...  population  \
0                     0.125                       0.0  ...  40099500.0
1                     0.125                       0.0  ...  40099500.0
2                     0.000                       0.0  ...  40099500.0
3                     0.000                       0.0  ...  40099500.0
4                     0.000                       0.0  ...  40099500.0
...                     ...                       ...  ...         ...
1867               8653.000                  194317.0  ...  40099500.0
1868               2968.000                  194317.0  ...  40099500.0
1869               2968.000                  194317.0  ...  40099500.0
1870               3042.000                  194367.0  ...  40099500.0
1871               3042.000                  194367.0  ...  40099500.0

      population_density  aged_65_older  aged_70_older  gdp_per_capita  \
0                54422.0         2581.0         1337.0       1803990.0
1                54422.0         2581.0         1337.0       1803990.0
2                54422.0         2581.0         1337.0       1803990.0
3                54422.0         2581.0         1337.0       1803990.0
4                54422.0         2581.0         1337.0       1803990.0
...                  ...            ...            ...             ...
1867             54422.0         2581.0         1337.0       1803990.0
1868             54422.0         2581.0         1337.0       1803990.0
1869             54422.0         2581.0         1337.0       1803990.0
1870             54422.0         2581.0         1337.0       1803990.0
1871             54422.0         2581.0         1337.0       1803990.0

      cardiovasc_death_rate  diabetes_prevalence  hospital_beds_per_thousand  \
0                  597029.0                 9.59                         0.5
1                  597029.0                 9.59                         0.5
2                  597029.0                 9.59                         0.5
3                  597029.0                 9.59                         0.5
4                  597029.0                 9.59                         0.5
...                     ...                  ...                         ...
1867               597029.0                 9.59                         0.5
1868               597029.0                 9.59                         0.5
1869               597029.0                 9.59                         0.5
1870               597029.0                 9.59                         0.5
1871               597029.0                 9.59                         0.5

      life_expectancy  human_development_index
0               64.83                    0.511
1               64.83                    0.511
2               64.83                    0.511
3               64.83                    0.511
4               64.83                    0.511
...               ...                      ...
1867            64.83                    0.511
1868            64.83                    0.511
1869            64.83                    0.511
1870            64.83                    0.511
1871            64.83                    0.511

[1872 rows x 31 columns]

In [66]:
alb=pd.read_sql_query('''select b.Location_ID,a.total_cases, a.new_cases,a.new_cases_smoothed,a.total_deaths,a.new_deaths,a.new_deaths_smoothed, 
a.total_cases_per_million,a.new_cases_per_million,a.total_deaths_per_million,a.reproduction_rate,a.hosp_patients,a.total_tests, 
a.positive_rate,a.tests_units,a.total_vaccinations,a.people_vaccinated,a.people_fully_vaccinated,a.total_boosters,a.new_vaccinations, 
a.stringency_index,a.population,a.population_density,a.aged_65_older,a.aged_70_older,a.gdp_per_capita,a.cardiovasc_death_rate,
a.diabetes_prevalence,a.hospital_beds_per_thousand,a.life_expectancy,a.human_development_index
from albania as a inner
join
tbl_Location as b on
a.Location = b.Location;''',db)
print(alb)

     Location_ID  total_cases  new_cases  new_cases_smoothed  total_deaths  \
0            Alb          0.0        0.0                 0.0           0.0
1            Alb          0.0        0.0                 0.0           0.0
2            Alb          0.0        0.0                 0.0           0.0
3            Alb          0.0        0.0                 0.0           0.0
4            Alb          0.0        0.0                 0.0           0.0
...          ...          ...        ...                 ...           ...
1867         Alb     331384.0       89.0             99571.0        3586.0
1868         Alb     331459.0       75.0             88143.0        3586.0
1869         Alb     331459.0       75.0             88143.0        3586.0
1870         Alb     331540.0       81.0             84571.0        3586.0
1871         Alb     331540.0       81.0             84571.0        3586.0

      new_deaths  new_deaths_smoothed  total_cases_per_million  \
0            0.0                0.000                      0.0
1            0.0                0.000                      0.0
2            0.0                0.000                      0.0
3            0.0                0.000                      0.0
4            0.0                0.000                      0.0
...          ...                  ...                      ...
1867         0.0                0.286              116083000.0
1868         0.0                0.286              116110000.0
1869         0.0                0.286              116110000.0
1870         0.0                0.286              116138000.0
1871         0.0                0.286              116138000.0

      new_cases_per_million  total_deaths_per_million  ...  population  \
0                       0.0                      0.00  ...   2854710.0
1                       0.0                      0.00  ...   2854710.0
2                       0.0                      0.00  ...   2854710.0
3                       0.0                      0.00  ...   2854710.0
4                       0.0                      0.00  ...   2854710.0
...                     ...                       ...  ...         ...
1867                31177.0                   1256.17  ...   2854710.0
1868                26272.0                   1256.17  ...   2854710.0
1869                26272.0                   1256.17  ...   2854710.0
1870                28374.0                   1256.17  ...   2854710.0
1871                28374.0                   1256.17  ...   2854710.0

      population_density  aged_65_older  aged_70_older  gdp_per_capita  \
0               104871.0        13188.0         8643.0      11803400.0
1               104871.0        13188.0         8643.0      11803400.0
2               104871.0        13188.0         8643.0      11803400.0
3               104871.0        13188.0         8643.0      11803400.0
4               104871.0        13188.0         8643.0      11803400.0
...                  ...            ...            ...             ...
1867            104871.0        13188.0         8643.0      11803400.0
1868            104871.0        13188.0         8643.0      11803400.0
1869            104871.0        13188.0         8643.0      11803400.0
1870            104871.0        13188.0         8643.0      11803400.0
1871            104871.0        13188.0         8643.0      11803400.0

      cardiovasc_death_rate  diabetes_prevalence  hospital_beds_per_thousand  \
0                  304195.0                10.08                        2.89
1                  304195.0                10.08                        2.89
2                  304195.0                10.08                        2.89
3                  304195.0                10.08                        2.89
4                  304195.0                10.08                        2.89
...                     ...                  ...                         ...
1867               304195.0                10.08                        2.89
1868               304195.0                10.08                        2.89
1869               304195.0                10.08                        2.89
1870               304195.0                10.08                        2.89
1871               304195.0                10.08                        2.89

      life_expectancy  human_development_index
0               78.57                    0.795
1               78.57                    0.795
2               78.57                    0.795
3               78.57                    0.795
4               78.57                    0.795
...               ...                      ...
1867            78.57                    0.795
1868            78.57                    0.795
1869            78.57                    0.795
1870            78.57                    0.795
1871            78.57                    0.795

[1872 rows x 31 columns]

In [67]:
alg=pd.read_sql_query('''select b.Location_ID,a.total_cases, a.new_cases,a.new_cases_smoothed,a.total_deaths,a.new_deaths,a.new_deaths_smoothed, 
a.total_cases_per_million,a.new_cases_per_million,a.total_deaths_per_million,a.reproduction_rate,a.hosp_patients,a.total_tests, 
a.positive_rate,a.tests_units,a.total_vaccinations,a.people_vaccinated,a.people_fully_vaccinated,a.total_boosters,a.new_vaccinations, 
a.stringency_index,a.population,a.population_density,a.aged_65_older,a.aged_70_older,a.gdp_per_capita,a.cardiovasc_death_rate,
a.diabetes_prevalence,a.hospital_beds_per_thousand,a.life_expectancy,a.human_development_index
from algeria as a inner
join
tbl_Location as b on
a.location = b.location;''',db)
print(alg)

     Location_ID  total_cases  new_cases  new_cases_smoothed  total_deaths  \
0            Alg          1.0        1.0                 0.0           0.0
1            Alg          1.0        1.0                 0.0           0.0
2            Alg          1.0        0.0                 0.0           0.0
3            Alg          1.0        0.0                 0.0           0.0
4            Alg          1.0        0.0                 0.0           0.0
...          ...          ...        ...                 ...           ...
1867         Alg     270584.0       14.0                11.0        6879.0
1868         Alg     270599.0       15.0                11.0        6879.0
1869         Alg     270599.0       15.0                11.0        6879.0
1870         Alg     270606.0        7.0             10571.0        6879.0
1871         Alg     270606.0        7.0             10571.0        6879.0

      new_deaths  new_deaths_smoothed  total_cases_per_million  \
0            0.0                  0.0                    0.023
1            0.0                  0.0                    0.023
2            0.0                  0.0                    0.023
3            0.0                  0.0                    0.023
4            0.0                  0.0                    0.023
...          ...                  ...                      ...
1867         0.0                  0.0              6124860.000
1868         0.0                  0.0              6125200.000
1869         0.0                  0.0              6125200.000
1870         0.0                  0.0              6125360.000
1871         0.0                  0.0              6125360.000

      new_cases_per_million  total_deaths_per_million  ...  population  \
0                     0.023                       0.0  ...  44178000.0
1                     0.023                       0.0  ...  44178000.0
2                     0.000                       0.0  ...  44178000.0
3                     0.000                       0.0  ...  44178000.0
4                     0.000                       0.0  ...  44178000.0
...                     ...                       ...  ...         ...
1867                  0.317                  155711.0  ...  44178000.0
1868                  0.340                  155711.0  ...  44178000.0
1869                  0.340                  155711.0  ...  44178000.0
1870                  0.158                  155711.0  ...  44178000.0
1871                  0.158                  155711.0  ...  44178000.0

      population_density  aged_65_older  aged_70_older  gdp_per_capita  \
0                17348.0         6211.0         3857.0      13913800.0
1                17348.0         6211.0         3857.0      13913800.0
2                17348.0         6211.0         3857.0      13913800.0
3                17348.0         6211.0         3857.0      13913800.0
4                17348.0         6211.0         3857.0      13913800.0
...                  ...            ...            ...             ...
1867             17348.0         6211.0         3857.0      13913800.0
1868             17348.0         6211.0         3857.0      13913800.0
1869             17348.0         6211.0         3857.0      13913800.0
1870             17348.0         6211.0         3857.0      13913800.0
1871             17348.0         6211.0         3857.0      13913800.0

      cardiovasc_death_rate      diabetes_prevalence  \
0                  278364.0  6.73000000000000043e+00
1                  278364.0  6.73000000000000043e+00
2                  278364.0  6.73000000000000043e+00
3                  278364.0  6.73000000000000043e+00
4                  278364.0  6.73000000000000043e+00
...                     ...                      ...
1867               278364.0  6.73000000000000043e+00
1868               278364.0  6.73000000000000043e+00
1869               278364.0  6.73000000000000043e+00
1870               278364.0  6.73000000000000043e+00
1871               278364.0  6.73000000000000043e+00

      hospital_beds_per_thousand  life_expectancy  human_development_index
0                            1.9            76.88                    0.748
1                            1.9            76.88                    0.748
2                            1.9            76.88                    0.748
3                            1.9            76.88                    0.748
4                            1.9            76.88                    0.748
...                          ...              ...                      ...
1867                         1.9            76.88                    0.748
1868                         1.9            76.88                    0.748
1869                         1.9            76.88                    0.748
1870                         1.9            76.88                    0.748
1871                         1.9            76.88                    0.748

[1872 rows x 31 columns]

In [68]:
andorra=pd.read_sql_query('''select b.Location_ID,a.total_cases, a.new_cases,a.new_cases_smoothed,a.total_deaths,a.new_deaths,a.new_deaths_smoothed, 
a.total_cases_per_million,a.new_cases_per_million,a.total_deaths_per_million,a.reproduction_rate,a.hosp_patients,a.total_tests, 
a.positive_rate,a.tests_units,a.total_vaccinations,a.people_vaccinated,a.people_fully_vaccinated,a.total_boosters,a.new_vaccinations, 
a.stringency_index,a.population,a.population_density,a.aged_65_older,a.aged_70_older,a.gdp_per_capita,a.cardiovasc_death_rate,
a.diabetes_prevalence,a.hospital_beds_per_thousand,a.life_expectancy,a.human_development_index
from andorra as a inner
join
tbl_Location as b on
a.location = b.location;''',db)
print(andorra)

Empty DataFrame
Columns: [Location_ID, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, total_deaths_per_million, reproduction_rate, hosp_patients, total_tests, positive_rate, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, stringency_index, population, population_density, aged_65_older, aged_70_older, gdp_per_capita, cardiovasc_death_rate, diabetes_prevalence, hospital_beds_per_thousand, life_expectancy, human_development_index]
Index: []

[0 rows x 31 columns]

In [69]:
asda=pd.read_sql_query('''select * from andorra;''',db)
print(asda)

    iso_code continent location  total_cases  new_cases  new_cases_smoothed  \
0        AND    Europe  Andorra          1.0        1.0                 0.0
1        AND    Europe  Andorra          1.0        0.0                 0.0
2        AND    Europe  Andorra          1.0        0.0                 0.0
3        AND    Europe  Andorra          1.0        0.0                 0.0
4        AND    Europe  Andorra          1.0        0.0                 0.0
..       ...       ...      ...          ...        ...                 ...
925      AND    Europe  Andorra      46113.0        0.0             12286.0
926      AND    Europe  Andorra      46147.0       34.0              4857.0
927      AND    Europe  Andorra      46147.0        0.0              4857.0
928      AND    Europe  Andorra      46147.0        0.0              4857.0
929      AND    Europe  Andorra      46147.0        0.0              4857.0

     total_deaths  new_deaths  new_deaths_smoothed  total_cases_per_million  \
0             0.0         0.0                0.000                  12653.0
1             0.0         0.0                0.000                  12653.0
2             0.0         0.0                0.000                  12653.0
3             0.0         0.0                0.000                  12653.0
4             0.0         0.0                0.000                  12653.0
..            ...         ...                  ...                      ...
925         155.0         0.0                0.143              583458000.0
926         155.0         0.0                0.000              583888000.0
927         155.0         0.0                0.000              583888000.0
928         155.0         0.0                0.000              583888000.0
929         155.0         0.0                0.000              583888000.0

     ...  aged_65_older  aged_70_older  gdp_per_capita  cardiovasc_death_rate  \
0    ...            0.0            0.0             0.0               109135.0
1    ...            0.0            0.0             0.0               109135.0
2    ...            0.0            0.0             0.0               109135.0
3    ...            0.0            0.0             0.0               109135.0
4    ...            0.0            0.0             0.0               109135.0
..   ...            ...            ...             ...                    ...
925  ...            0.0            0.0             0.0               109135.0
926  ...            0.0            0.0             0.0               109135.0
927  ...            0.0            0.0             0.0               109135.0
928  ...            0.0            0.0             0.0               109135.0
929  ...            0.0            0.0             0.0               109135.0

         diabetes_prevalence  hospital_beds_per_thousand  life_expectancy  \
0    7.96999999999999975e+00                         0.0            83.73
1    7.96999999999999975e+00                         0.0            83.73
2    7.96999999999999975e+00                         0.0            83.73
3    7.96999999999999975e+00                         0.0            83.73
4    7.96999999999999975e+00                         0.0            83.73
..                       ...                         ...              ...
925  7.96999999999999975e+00                         0.0            83.73
926  7.96999999999999975e+00                         0.0            83.73
927  7.96999999999999975e+00                         0.0            83.73
928  7.96999999999999975e+00                         0.0            83.73
929  7.96999999999999975e+00                         0.0            83.73

     human_development_index  Continent_ID  Location_ID
0                      0.868             3          And
1                      0.868             3          And
2                      0.868             3          And
3                      0.868             3          And
4                      0.868             3          And
..                       ...           ...          ...
925                    0.868             3          And
926                    0.868             3          And
927                    0.868             3          And
928                    0.868             3          And
929                    0.868             3          And

[930 rows x 35 columns]

In [70]:
ang=pd.read_sql_query('''select b.Location_ID,a.total_cases, a.new_cases,a.new_cases_smoothed,a.total_deaths,a.new_deaths,a.new_deaths_smoothed, 
a.total_cases_per_million,a.new_cases_per_million,a.total_deaths_per_million,a.reproduction_rate,a.hosp_patients,a.total_tests, 
a.positive_rate,a.tests_units,a.total_vaccinations,a.people_vaccinated,a.people_fully_vaccinated,a.total_boosters,a.new_vaccinations, 
a.stringency_index,a.population,a.population_density,a.aged_65_older,a.aged_70_older,a.gdp_per_capita,a.cardiovasc_death_rate,
a.diabetes_prevalence,a.hospital_beds_per_thousand,a.life_expectancy,a.human_development_index
from angola as a inner
join
tbl_Location as b on
a.Location = b.Location;''',db)
print(ang)

     Location_ID  total_cases  new_cases  new_cases_smoothed  total_deaths  \
0            Ang          1.0        1.0                 0.0           0.0
1            Ang          1.0        1.0                 0.0           0.0
2            Ang          2.0        1.0                 0.0           0.0
3            Ang          2.0        1.0                 0.0           0.0
4            Ang          2.0        0.0                 0.0           0.0
...          ...          ...        ...                 ...           ...
1819         Ang     103131.0        0.0             70714.0        1917.0
1820         Ang     103131.0        0.0                 0.0        1917.0
1821         Ang     103131.0        0.0                 0.0        1917.0
1822         Ang     103131.0        0.0                 0.0        1917.0
1823         Ang     103131.0        0.0                 0.0        1917.0

      new_deaths  new_deaths_smoothed  total_cases_per_million  \
0            0.0                  0.0                    0.029
1            0.0                  0.0                    0.029
2            0.0                  0.0                    0.058
3            0.0                  0.0                    0.058
4            0.0                  0.0                    0.058
...          ...                  ...                      ...
1819         0.0                  0.0              2988980.000
1820         0.0                  0.0              2988980.000
1821         0.0                  0.0              2988980.000
1822         0.0                  0.0              2988980.000
1823         0.0                  0.0              2988980.000

      new_cases_per_million  total_deaths_per_million  ...  population  \
0                     0.029                       0.0  ...  34503800.0
1                     0.029                       0.0  ...  34503800.0
2                     0.029                       0.0  ...  34503800.0
3                     0.029                       0.0  ...  34503800.0
4                     0.000                       0.0  ...  34503800.0
...                     ...                       ...  ...         ...
1819                  0.000                   55559.0  ...  34503800.0
1820                  0.000                   55559.0  ...  34503800.0
1821                  0.000                   55559.0  ...  34503800.0
1822                  0.000                   55559.0  ...  34503800.0
1823                  0.000                   55559.0  ...  34503800.0

      population_density  aged_65_older  aged_70_older  gdp_per_capita  \
0                  23.89         2405.0         1362.0       5819500.0
1                  23.89         2405.0         1362.0       5819500.0
2                  23.89         2405.0         1362.0       5819500.0
3                  23.89         2405.0         1362.0       5819500.0
4                  23.89         2405.0         1362.0       5819500.0
...                  ...            ...            ...             ...
1819               23.89         2405.0         1362.0       5819500.0
1820               23.89         2405.0         1362.0       5819500.0
1821               23.89         2405.0         1362.0       5819500.0
1822               23.89         2405.0         1362.0       5819500.0
1823               23.89         2405.0         1362.0       5819500.0

      cardiovasc_death_rate      diabetes_prevalence  \
0                  276045.0  3.93999999999999995e+00
1                  276045.0  3.93999999999999995e+00
2                  276045.0  3.93999999999999995e+00
3                  276045.0  3.93999999999999995e+00
4                  276045.0  3.93999999999999995e+00
...                     ...                      ...
1819               276045.0  3.93999999999999995e+00
1820               276045.0  3.93999999999999995e+00
1821               276045.0  3.93999999999999995e+00
1822               276045.0  3.93999999999999995e+00
1823               276045.0  3.93999999999999995e+00

      hospital_beds_per_thousand  life_expectancy  human_development_index
0                            0.0            61.15                    0.581
1                            0.0            61.15                    0.581
2                            0.0            61.15                    0.581
3                            0.0            61.15                    0.581
4                            0.0            61.15                    0.581
...                          ...              ...                      ...
1819                         0.0            61.15                    0.581
1820                         0.0            61.15                    0.581
1821                         0.0            61.15                    0.581
1822                         0.0            61.15                    0.581
1823                         0.0            61.15                    0.581

[1824 rows x 31 columns]

In [71]:
country = [afg,afr,alb,alg,andorra,ang]

In [72]:
countries=pd.concat(country)

In [73]:
print(countries)

     Location_ID total_cases new_cases new_cases_smoothed total_deaths  \
0            Afg         5.0       5.0                0.0          0.0
1            Afg         5.0       5.0                0.0          0.0
2            Afg         5.0       0.0                0.0          0.0
3            Afg         5.0       0.0                0.0          0.0
4            Afg         5.0       0.0                0.0          0.0
...          ...         ...       ...                ...          ...
1819         Ang    103131.0       0.0            70714.0       1917.0
1820         Ang    103131.0       0.0                0.0       1917.0
1821         Ang    103131.0       0.0                0.0       1917.0
1822         Ang    103131.0       0.0                0.0       1917.0
1823         Ang    103131.0       0.0                0.0       1917.0

     new_deaths new_deaths_smoothed total_cases_per_million  \
0           0.0                 0.0                   0.125
1           0.0                 0.0                   0.125
2           0.0                 0.0                   0.125
3           0.0                 0.0                   0.125
4           0.0                 0.0                   0.125
...         ...                 ...                     ...
1819        0.0                 0.0               2988980.0
1820        0.0                 0.0               2988980.0
1821        0.0                 0.0               2988980.0
1822        0.0                 0.0               2988980.0
1823        0.0                 0.0               2988980.0

     new_cases_per_million total_deaths_per_million  ...  population  \
0                    0.125                      0.0  ...  40099500.0
1                    0.125                      0.0  ...  40099500.0
2                      0.0                      0.0  ...  40099500.0
3                      0.0                      0.0  ...  40099500.0
4                      0.0                      0.0  ...  40099500.0
...                    ...                      ...  ...         ...
1819                   0.0                  55559.0  ...  34503800.0
1820                   0.0                  55559.0  ...  34503800.0
1821                   0.0                  55559.0  ...  34503800.0
1822                   0.0                  55559.0  ...  34503800.0
1823                   0.0                  55559.0  ...  34503800.0

     population_density aged_65_older aged_70_older gdp_per_capita  \
0               54422.0        2581.0        1337.0      1803990.0
1               54422.0        2581.0        1337.0      1803990.0
2               54422.0        2581.0        1337.0      1803990.0
3               54422.0        2581.0        1337.0      1803990.0
4               54422.0        2581.0        1337.0      1803990.0
...                 ...           ...           ...            ...
1819              23.89        2405.0        1362.0      5819500.0
1820              23.89        2405.0        1362.0      5819500.0
1821              23.89        2405.0        1362.0      5819500.0
1822              23.89        2405.0        1362.0      5819500.0
1823              23.89        2405.0        1362.0      5819500.0

     cardiovasc_death_rate      diabetes_prevalence  \
0                 597029.0                     9.59
1                 597029.0                     9.59
2                 597029.0                     9.59
3                 597029.0                     9.59
4                 597029.0                     9.59
...                    ...                      ...
1819              276045.0  3.93999999999999995e+00
1820              276045.0  3.93999999999999995e+00
1821              276045.0  3.93999999999999995e+00
1822              276045.0  3.93999999999999995e+00
1823              276045.0  3.93999999999999995e+00

     hospital_beds_per_thousand life_expectancy human_development_index
0                           0.5           64.83                   0.511
1                           0.5           64.83                   0.511
2                           0.5           64.83                   0.511
3                           0.5           64.83                   0.511
4                           0.5           64.83                   0.511
...                         ...             ...                     ...
1819                        0.0           61.15                   0.581
1820                        0.0           61.15                   0.581
1821                        0.0           61.15                   0.581
1822                        0.0           61.15                   0.581
1823                        0.0           61.15                   0.581

[9336 rows x 31 columns]

In [74]:
last=pd.DataFrame(countries)

In [75]:
my_conn=create_engine("mysql+pymysql://root:12345678@localhost/corona")

df = pd.DataFrame(data=last)
df.to_sql(con=my_conn,name='tbl_corona',if_exists='append',index=False)

9336